<command xsi:type="ServiceProviderNetworkClassOfServiceAssignListRequest21" xmlns=""><serviceProviderId>{0}</serviceProviderId><networkClassOfService>{1}</networkClassOfService><defaultNetworkClassOfService><useExisting>true</useExisting></defaultNetworkClassOfService></command>