<command xsi:type="UserGetListInSystemRequest" xmlns="">
    <responseSizeLimit>1000</responseSizeLimit>
    <searchCriteriaUserId>
        <mode>Contains</mode>
        <value>{0}</value>
        <isCaseInsensitive>true</isCaseInsensitive>
    </searchCriteriaUserId>
</command>
