<command xsi:type="UserGetListInSystemRequest" xmlns="">
    <responseSizeLimit>1000</responseSizeLimit>
    <searchCriteriaDn>
        <mode>Contains</mode>
        <value>{0}</value>
        <isCaseInsensitive>true</isCaseInsensitive>
    </searchCriteriaDn>
</command>
