<command xsi:type="GroupNetworkClassOfServiceAssignListRequest21" xmlns="">
<serviceProviderId>{0}</serviceProviderId><groupId>{1}</groupId><networkClassOfService>{2}</networkClassOfService>
<networkClassOfService>None</networkClassOfService><defaultNetworkClassOfService><networkClassOfServiceName>None</networkClassOfServiceName></defaultNetworkClassOfService></command>
