<command xsi:type="ServiceProviderNetworkClassOfServiceAssignListRequest21" xmlns=""><serviceProviderId>{0}</serviceProviderId><networkClassOfService>{1}</networkClassOfService><networkClassOfService>None</networkClassOfService><defaultNetworkClassOfService><networkClassOfServiceName>None</networkClassOfServiceName></defaultNetworkClassOfService></command>
