<command xsi:type="UserModifyRequest17sp4" xmlns="">
<userId>{0}</userId>
<lastName>{1}</lastName>
<firstName>{2}</firstName>
<callingLineIdLastName>{3}</callingLineIdLastName>
<callingLineIdFirstName>{4}</callingLineIdFirstName>
<nameDialingName xsi:nil="true"/>
<department xsi:type="GroupDepartmentKey">
<serviceProviderId>{5}</serviceProviderId>
<groupId>{6}</groupId>
<name>{7}</name></department>
<language>English</language>
<timeZone>Eire</timeZone>
<title xsi:nil="true"/>
<pagerPhoneNumber xsi:nil="true"/>
<mobilePhoneNumber xsi:nil="true"/>
<emailAddress xsi:nil="true"/>
<yahooId xsi:nil="true"/>
<addressLocation xsi:nil="true"/>
<address><addressLine1 xsi:nil="true"/><addressLine2 xsi:nil="true"/><city xsi:nil="true"/><stateOrProvince xsi:nil="true"/><zipOrPostalCode xsi:nil="true"/><country xsi:nil="true"/></address>
<networkClassOfService>{8}</networkClassOfService>
</command></BroadsoftDocument>
