<command xsi:type="UserModifyRequest17sp4" xmlns="">
<userId>353766875900@ngv.eircom.net</userId>
<lastName>MobileJohn of Nepomuk</lastName>
<firstName>Saint</firstName>
<callingLineIdLastName>John of Nepomuk</callingLineIdLastName>
<callingLineIdFirstName>Saint</callingLineIdFirstName>
<nameDialingName xsi:nil="true"/>
<department xsi:type="GroupDepartmentKey">
<serviceProviderId>HO@ngv.eircom.net</serviceProviderId>
<groupId>HO_group1</groupId>
<name>Test</name></department>
<language>English</language>
<timeZone>Eire</timeZone>
<title xsi:nil="true"/>
<pagerPhoneNumber xsi:nil="true"/>
<mobilePhoneNumber xsi:nil="true"/>
<emailAddress xsi:nil="true"/>
<yahooId xsi:nil="true"/>
<addressLocation xsi:nil="true"/>
<address><addressLine1 xsi:nil="true"/><addressLine2 xsi:nil="true"/><city xsi:nil="true"/><stateOrProvince xsi:nil="true"/><zipOrPostalCode xsi:nil="true"/><country xsi:nil="true"/></address>
<networkClassOfService>{0}</networkClassOfService>
</command></BroadsoftDocument>
