<command xsi:type="UserOutgoingCallingPlanOriginatingModifyRequest" xmlns="">
<userId>{1}</userId>
<useCustomSettings>true</useCustomSettings>
<userPermissions>
    <group>Allow</group>
    <local>Allow</local>
    <tollFree>Allow</tollFree>
    <toll>Allow</toll>
    <international>Disallow</international>
    <operatorAssisted>Allow</operatorAssisted>
    <chargeableDirectoryAssisted>Disallow</chargeableDirectoryAssisted>
    <specialServicesI>Disallow</specialServicesI>
    <specialServicesII>Disallow</specialServicesII>
    <premiumServicesI>Disallow</premiumServicesI>
    <premiumServicesII>Disallow</premiumServicesII>
    <casual>Allow</casual>
    <urlDialing>Disallow</urlDialing>
    <unknown>Disallow</unknown>
</userPermissions>
</command>
